/* BREAKPOINTS */
/* Small devices (portrait tablets and large phones, 640px and up) */
/* @media only screen and (min-width: 640px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #2f2f2f;
}

/* NAV BAR */

nav {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    padding: 1rem 0;
}

nav div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

nav a {
    font-size: 1.25rem;
    padding: 0.75rem 1rem;
    margin: 0 .5rem;
}

@media only screen and (min-width: 768px) {
    nav a {
        margin: 0 1rem;
    }
}

/* MAIN CONTENT */

main {
    margin: 0 2rem 3rem;
}

@media only screen and (min-width: 768px) {
    main {
        margin: 0 8rem 6rem;
    }
}


h1 {
    font-size: 6rem;
    font-weight: 600rem;
    margin-bottom: .5rem;
    margin-top: 0rem;
}

h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-top: 12rem;
    margin-bottom: .5rem;
    scroll-margin-top: 6rem;
}

h3 {
    font-size: 1.75rem;
    margin-top: 1rem;
    margin-bottom: .25rem;
    font-weight: 600;
}

p {
    margin: .5rem auto;
    font-size: 1.25rem;
    line-height: 1.5rem;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    background-color: lavender;
}

/* INTRO */
#intro {
    margin-top: 8rem;
}

@media only screen and (min-width: 768px) {
    #intro {
        margin-top: 14rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

/* PORTFOLIO */

#portfolio-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: auto;
    gap: 2rem 1.25rem;
}

.portfolio-item {
    max-width: 25rem;
}

.portfolio-item img {
    max-width: 100%;
    height: auto;
}

.project-date {
    font-style: italic;
    margin: 0.25rem auto;
}