/* BREAKPOINTS */
/* Small devices (portrait tablets and large phones, 640px and up) */
/* @media only screen and (min-width: 640px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */

:root {
    --primary-color: #D0FF42;
    --secondary-color: #FF4271;
    --accent-color: #D8D8F6;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #2f2f2f;
}

/* NAV BAR */

nav {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    padding: 1rem 0;
    font-family: 'Inconsolata', monospace;
}

nav div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.25rem;
}

@media only screen and (min-width: 768px) {
    nav div {
        padding: 0 0.25rem;
    }
}

nav a {
    font-size: 1.25rem;
    padding: 0.75rem 1rem;
    margin: 0 .5rem;
    background-color: inherit;
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    nav a {
        margin: 0 1rem;
    }
}

#nav-name {
    display: none;
}

@media only screen and (min-width: 768px) {
    #nav-name {
        display: inherit;
    }
}

/* MAIN CONTENT */

main {
    margin: 0 2rem 3rem;
}

@media only screen and (min-width: 768px) {
    main {
        margin: 0 8rem 6rem;
    }
}

h1, h2, h3 {
    font-family: 'Inconsolata', monospace;
}

h1 {
    font-size: 6rem;
    font-weight: 600rem;
    margin-bottom: .5rem;
    margin-top: 0rem;
}

h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-top: 12rem;
    margin-bottom: .5rem;
    scroll-margin-top: 6rem;
    padding: 0 0.5rem;
    background: linear-gradient(180deg,rgba(255,255,255,0) 50%, var(--primary-color) 50%);
    display: inline-block;
}

h3 {
    font-size: 1.75rem;
    margin-top: 1rem;
    margin-bottom: .25rem;
    font-weight: 600;
}

p {
    margin: .5rem auto;
    font-size: 1.25rem;
    line-height: 1.5rem;
}

a {
    text-decoration: none;
    color: inherit;
    text-decoration: underline var(--secondary-color) wavy;
    text-underline-offset: 4px;
    /* background-color: var(--secondary-color); */
}

a:hover {
    background-color: var(--accent-color);
}

/* INTRO */
#intro {
    margin-top: 8rem;
}

@media only screen and (min-width: 768px) {
    #intro {
        margin-top: 14rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

/* PORTFOLIO */

#portfolio-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: auto;
    gap: 2rem 2rem;
    margin: 0.875rem auto;
}

.portfolio-item {
    max-width: 22rem;
}

.portfolio-item img {
    max-width: 100%;
    height: auto;
    border: #848484 solid 1px;
}

.portfolio-item p {
    font-size: 1rem;
}

.project-date {
    font-size: 1.25rem !important;
    font-style: italic;
    margin: 0.25rem auto;
}